[submodule "i3blocks/i3blocks-contrib"]
	path = i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "config-add"]
	path = config-add
	url = git@github.com:h-akira/linux-config-add.git
